.days{
    background-color: #dedada;
    color: #333;
    font-weight: 700;
}

.days td{
    padding: 5px;
    text-align: center;
    &:nth-child(6),
    &:nth-child(7){
        color: rgb(219, 0, 0);
    }
}